// Colors
$lightBlue: #0D84BF;
$lightCyan: #72DDF7;
$lightGreen: #00F0B5;
$lightBackground: #D1D3DB;
$darkBackground: #505353;

$textLightColor: #f8f9fc;
$textDarkColor: black;

// Breakpoints
$mobileView: 35em;
$tabletView: 45em;
$desktopView: 55em;
