/*Header Part*/
header {
    background: linear-gradient(180deg, #F7C678, #FD815E);
    display: flex;
    padding: 5px 2px;
    align-items: center;
    justify-content: center;

}

header picture {
    display: flex;
    justify-content: center;
}

picture.site-icon {
    margin: 5px;
}


.message {
    display: none;
    padding-top: 0.8em;
    background-color: #F7C678;
    color: #3B403A;
    font: 1.1em IBM Plex Serif;
    text-align: center;
    font-weight: bold;
}

.header-headings {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-right: 14px;
}

.header-headings h1 {
    font: 1.6em Lemon;
    color: #3B403A;
    margin-bottom: 0px;
}

.header-headings div {
    font: 1em IBM Plex Serif;
    font-weight: bold;
}



/*Button Section*/

button {
    background-color: #FC6136;
    color: #3B403A;
    font-size: 30px;
    width: 800px;
    border-color: #3B403A;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: none;
    border-right: none;
}

div.button-sec {
    display: flex;
    justify-content: center;
}

/*Navigation Section*/
nav ul.hide {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    background-color: #FC6136;
    text-align: center;
    font-weight: bold;
    font: 0.8em IBM Plex Serif;
    padding-left: 0;
}

nav ul li {
    list-style-type: none;
    flex: 1 1 100%;
    border-bottom: solid;
    border-width: 1px;
}

nav ul li a {
    text-decoration: none;
    font-family: IBM Plex Serif, serif;
    color: #FECFC2;
}

li.active a h2 {
    color: black;
    font-family: IBM Plex Serif, serif;
    font-weight: bold;
}

a:hover {
    color: #F3E52B;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*Body Part*/
h2.storm-rep {
    color: #3B403A;
    background: linear-gradient(90deg, #F7C678, #FD815E);
    font: 1.2em Lemon;
    text-align: center;
    padding: 5px;
    margin: 0px auto 15px;
}

/* Storm Center */

legend {
    padding: 0.5em;
    text-align: center;
    font-size: 1.1em;
}

form {
    max-width: 60%;
    display: block;
    margin: 0 auto 15px;
    font: 1em IBM Plex Serif;
}

fieldset {
    border-radius: 10px;
    padding: 0.5em;
    background-color: #E9EDED;
}

form label {
    display: block;
    margin-left: 0;
}


input.textbox, select.textbox {
    padding: 0.4em;
    width: 100%;
    max-width: 90%;
}

input.textbox:invalid {
    background-color: #fdd;
    border-bottom: 5px solid red;
	color: #000;
}

input.textbox:valid {
    background-color: #dfd;
    border-bottom: 5px solid green;
	color: #000;
}


label.radioOpt {
    padding: 0.2em;

}

#severityRange, select.stormReg {
    width: 100%;
    max-width: 96%;
}

.submitBttn {
    padding: 0.5em;
    border-radius: 10px;
    background: linear-gradient(0deg, #F7C678, #FD815E);
    display: block;
    margin: 4% auto 0;
}

#addComment {
    display: block;
    margin: 0 auto;
    width: 80%;
}

/*Footer Part*/
footer {
    background: linear-gradient(0deg, #F7C678, #FD815E);
    max-width: 400px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    padding: 10px 5px;
    font: 0.88em IBM Plex Serif;
    font-weight: bold;
}