@media only screen and (min-width: 45em) {
    /* Header part */
    h1 {
        font-size: 2.2em;
    }

    /* Body part */
    h2 {
        font-size: 1.7em;
    }

    h3 {
        font-size: 1.2em;
    }

    img {
        width: 200px;
    }

    section {
        max-width: 250px;
        height: 740px;
    }
    
    .wrap-body {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 20px auto;
        width: 525px;
    }

    .cont-section {
        grid-column: 1 / span 2;
        max-width: 512px;
        height: auto;
    }

    p.text {
        font-size: 0.9em;
    }

    p.para-text {
        font-size: 0.8em;
    }

    /*Footer part */
    footer {
        font-size: 0.8em
    }


}