/*Header Part*/
header {
    background: linear-gradient(180deg, #F7C678, #FD815E);
    display: flex;
    padding: 5px 2px;
    align-items: center;
    justify-content: center;

}

picture {
    display: flex;
    justify-content: center;
}

header img {
    width: 80%;
    height: auto;
}

.header-headings {
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    padding-right: 14px;
}

.header-headings h1 {
    font: 1.6em Lemon;
    color: #3B403A;
    margin-bottom: 0px;
}

.header-headings div {
    font: 1em IBM Plex Serif;
    font-weight: bold;
}



/*Button Section*/

button {
    background-color: #FC6136;
    color: #3B403A;
    font-size: 30px;
    width: 800px;
    border-color: #3B403A;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-left: none;
    border-right: none;
}

div.button-sec {
    display: flex;
    justify-content: center;
}

/*Navigation Section*/
nav ul.hide {
    display: none;
}

nav ul {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    background-color: #FC6136;
    text-align: center;
    font-weight: bold;
    font: 0.8em IBM Plex Serif;
    padding-left: 0;
}

nav ul li {
    list-style-type: none;
    flex: 1 1 100%;
    border-bottom: solid;
    border-width: 1px;
}

nav ul li a {
    text-decoration: none;
    font-family: IBM Plex Serif;
    color: #FECFC2;
}

li.active a h2 {
    color: black;
}

a:hover {
    color: #F8F08C;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*Body Part*/
main {
    max-width: 400px;
    margin: 0 auto;
}

h3 {
    color: #3B403A;
    background: linear-gradient(90deg, #F7C678, #FD815E);
    border: 1px solid #3B403A;
    font: 1.2em Lemon;
    text-align: center;
    border-radius: 10px;
    padding: 5px;
    margin: 20px auto;
}

.main-content {
    border: 1px dashed black;
    padding: 15px;
    margin: 20px;
    font: 0.88em IBM Plex Serif;
    font-weight: bold;
}

/*Footer Part*/
footer {
    background: linear-gradient(0deg, #F7C678, #FD815E);
    max-width: 400px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    padding: 10px 5px;
    font: 0.88em IBM Plex Serif;
    font-weight: bold;
}



